<form>
    <p class="notes">{{localize "FFGPartyBoost.Settings.DiceSelector.Header"}}</p>

    {{#each bonusTypes as |group name|}}
        <h3>{{group.label}}</h3>
    <div class="form-group">
        <div class="form-fields-header">
            <span>{{localize "FFGPartyBoost.Settings.DiceSelector.HideFromPC"}}</span>
        </div>
        <div class="form-fields">
        {{#each group.items as |item key|}}
            <label class="checkbox">
                <div class="die-and-name">
                    <input type="checkbox" name="{{key}}" {{#if item.checked}}checked{{/if}}/>
                    <span class="die-label">
                        <span class="dietype {{item.type}} {{item.css}}">{{item.char}}{{#if item.isUpgrade}}<span class="upgrade-plus">+</span>{{/if}}</span>
                    </span>
                    {{item.name}}
                </div>
                <input type="hidden" name="{{key}}-visible" value="{{item.visibleToPlayers}}">
                <a class="visibility-toggle"><i class="fas {{#if item.visibleToPlayers}}fa-eye{{else}}fa-eye-slash{{/if}}"></i></a>
            </label>
        {{/each}}
        </div>
    </div>
    {{/each}}

    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize "Save Changes"}}
    </button>
</form>